
.widefat {
	width:90% !important;
} 

#the-list > tr  td.post-title {	width:60%;}

#the-list > tr  td.categories {	width:30%;}

#the-list > tr  td.tags {width:10%;}

#the-list > tr:hover {
	cursor: move;
}

#the-list > tr:hover td:last-child {
	cursor: move;
	background-image: url(../images/dragable.gif);
	background-position: right top;
	background-repeat: repeat-y;
}

#the-list > tr.has-background {background-color:#fff;}
.column_id {
 width: 15px;
}